<div class='table-responsive'>
    <table class='table table-striped' *ngIf='goods && goods.length'>
        <thead>
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Штрих-код</th>
            <th>Количество страниц</th>
            <th>Язык программирования</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let good of goods">
            <td>{{good.Name}}</td>
            <td>{{good.Cost}}</td>
            <td>{{good.Code}}</td>
            <td>{{good.NumberPages}}</td>
            <td>{{good.Language}}</td>
        </tr>
        </tbody>
    </table>
    <div>
    </div>
</div>