<div class="container ">
        <div class="col-md-3">
            <div class="well no-padding">
                <nav></nav>
            </div>
        </div>
        <div class="panel-body col-md-9">
            <router-outlet></router-outlet>
    </div>
</div>
