<ul class="nav nav-list nav-menu-list-style ">
    <li><label class="tree-toggle nav-header">Книги</label>
        <ul class="nav nav-list tree">
            <li><a routerLink="books/programming">Программирование</a></li>
            <li><a routerLink="books/cooking">Кулинария </a></li>
            <li><a routerLink="books/esoterics">Эзотерика </a></li>
        </ul>
    </li>
    <li class="divider"></li>
    <li><label class="tree-toggle nav-header">Диски</label>
        <ul class="nav nav-list tree">
            <li><label class="tree-toggle nav-header">CD</label>
                <ul class="nav nav-list tree">
                    <li><a routerLink="cd/video">Видео</a></li>
                    <li><a routerLink="cd/music">Музыка </a></li>
                    <li><a routerLink="cd/software">ПО </a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li><label class="tree-toggle nav-header">DVD</label>
                <ul class="nav nav-list tree">
                    <li><a routerLink="dvd/video">Видео</a></li>
                    <li><a routerLink="dvd/music">Музыка </a></li>
                    <li><a routerLink="dvd/software">ПО </a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
